@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

@import 'package:sharedtheme_example_web/src/themes.g';

#test {
  background-color: red;
  width: 96px;
  font-size: 96px;
  z-index: 1;
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  @include font-body1;
  padding: 0;
  margin: 0;
}

// Set the background color for non-material elements.
*:not(material-ripple):not(material-list-item):not([class*="material-"]):not([class*="font-"]):not([class*="-color"]):not([animated]) {
  @include background-color;
}
material-ripple *, [class*="material-"] *:not([animated]), material-input *:not(.animated) {
  background-color: transparent !important;
  color: inherit !important;
}

material-button.primary {
  @include primary-button;
}
material-button.secondary {
  @include secondary-button;
}
material-button.tertiary {
  @include tertiary-button;
}
material-button .content {
  text-transform: none;
  color: inherit !important;
  background-color: inherit !important;
}

material-list {
  background-color: inherit;
}
material-list-item {
  // Taken from `package:angular_components/material_list/mixins`.
  &:not([separator="present"]) {
    &:hover, &:focus, &.active {
      @include selected-row-color(background-color);
    }
  }
}


// Material input hack
material-input[type="text"]:not(.no-theme) {
  padding: 12px 0 0 !important;
  .top-section {
    @include input-base;
    @include themify {
      $top: themed('elements', 'inputBase', 'padding-top');
      $right: themed('elements', 'inputBase', 'padding-right');
      $bottom: themed('elements', 'inputBase', 'padding-bottom');
      $left: themed('elements', 'inputBase', 'padding-left');
      padding-top: $top / 2;
      padding-right: $right / 2;
      padding-bottom: $bottom / 2;
      padding-left: $left/ 2;
    }

    .input-container {
      margin: 0 !important;
    }
    .label-text.animated {
      transform: translateY(-50%) translateY(-8px) !important;
      padding: 0 2px;
    }
    // Copy Flutter input behavior.
    // hint color: the border and text color.
    // if no hint color:  use primary color for light themes and secondary color for dark themes.
    &:focus-within {
      @include themify {
        $hint: theme-color('hint');
        @if $hint and $hint != 'inherit' {
          border-color: $hint;
          .label-text {
            color: $hint !important;
          }
        } @else {
          @if themed('brightness') == 'light' {
            $color: theme-color('primary');
            border-color: $color;
            .label-text {
              color: $color !important;
            }
          } @else {
            $color: theme-color('secondary');
            border-color: $color;
            .label-text {
              color: $color !important;
            }
          }
        }
      }
    }
  }
}

